<div style="display: none" id="masarikov">

  <div>
    <a id="masarikov_hide" class='btn btn-primary'>Назад</a>
  </div>

  <hr/>

  <% if @tasks_masarikov.any? %>

      <div class="form-group">
        <div class="col-sm-4">
          <%= select_tag "variant_search", options_from_collection_for_select(@tasks_masarikov.select(:variant).uniq, "variant", "variant"), prompt: "Выбрать вариант", class: 'form-control' %>
        </div>
        <div class="col-sm-4">
          <%= select_tag "type_t_search", options_from_collection_for_select(@tasks_masarikov.select(:type_t).uniq, "type_t", "type_t"), prompt: "Выбрать тип", class: 'form-control' %>
        </div>
        <div class="col-sm-4">
          <%= select_tag "solved_search", "<option value='1'>+</option><option value='0'>-</option>".html_safe, prompt: "Выбрать решенные", class: 'form-control' %>
        </div>
      </div>

      <%= will_paginate @tasks_masarikov, renderer: BootstrapPagination::Rails %>
      <table class="table table-hover">
        <tr>
          <th>Вариант</th>
          <th>№</th>
          <th>Тип</th>
          <th>Решена</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @tasks_masarikov.each do |task| %>
            <tr>
              <td><%= task.variant %></td>
              <td><%= task.number %></td>
              <td><%= task.type_t %></td>
              <td><%= (task.solved ? '+' : '-') %></td>
              <td><%= link_to image_tag(Rails.public_path+'/menu55.png'), task %></td>
              <td><%= link_to image_tag(Rails.public_path+'/edit45.png'), edit_task_path(task) %></td>
              <td><%= link_to image_tag(Rails.public_path+'/delete96.png'), task, method: :delete,
                              data: {confirm: 'Вы уверены?'} %></td>
            </tr>
        <% end %>
      </table>

      <%= will_paginate @tasks_masarikov, renderer: BootstrapPagination::Rails %>

  <% else %>
      <h3 style="text-align: center">Задач пока нет</h3>
  <% end %>

  <br/>
</div>