<div style="display: none" id="vutbr">

  <div>
    <a id="vutbr_hide" class='btn btn-primary'>Назад</a>
  </div>

  <hr/>
  <% if @tasks_vutbr.any? %>

      <%= will_paginate @tasks_vutbr, renderer: BootstrapPagination::Rails %>
      <table class="table table-hover">
        <tr>
          <th>Вариант</th>
          <th>№</th>
          <th>Тип</th>
          <th>Решена</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @tasks_vutbr.each do |task| %>
            <tr>
              <td><%= task.variant %></td>
              <td><%= task.number %></td>
              <td><%= task.type_t %></td>
              <td><%= (task.solved ? '+' : '-') %></td>
              <td><%= link_to image_tag(Rails.public_path+'/menu55.png'), task %></td>
              <td><%= link_to image_tag(Rails.public_path+'/edit45.png'), edit_task_path(task) %></td>
              <td><%= link_to image_tag(Rails.public_path+'/delete96.png'), task, method: :delete,
                              data: {confirm: 'Вы уверены?'} %></td>
            </tr>
        <% end %>
      </table>

      <%= will_paginate @tasks_vutbr, renderer: BootstrapPagination::Rails %>

  <% else %>
      <h3 style="text-align: center">Задач пока нет</h3>
  <% end %>
  <br/>
</div>